* {
  margin: 0;
}
html {
  background-color: rgb(3, 23, 34);
}

.main {
  background-color: rgb(11, 2, 52);
  height: 90vh;
  margin: 0vh auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer {
  background-color: palevioletred;
  margin: auto;
  padding: 2vh 0vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main, .footer {
  width: 90vw;
}

.sun {
  width: 50px;
  height: 50px;
  background:  
    radial-gradient(circle, 
    rgba(232,10,8,1) 4%, 
    rgba(219,67,10,1) 100%);
  border-radius: 50%; 
}

.planet {
  max-width: 30px;
  height: 30px;
  border-radius: 50%; 
  box-shadow: 10em 13em 0.0ch rgb(8,52,232);
  animation:  anin-squad 140s linear infinite;

}

.moon {
  width: 20px;
  height: 20px;
  transform: translate(52.5vw, 44vw);
  box-shadow: 10px 10em 0.0ch rgb(232,111,8);
  border-radius: 50%; 
  animation:  anin-squad 100s linear infinite;
}


@keyframes anin-squad {
  from {
    transform:rotate(10turn);
  }
  to {
   transform:rotate(-10turn);
  }
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: red;
}

@media(max-width: 29em) {
  .planet {
    max-width: 20px;
    height: 20px;
    box-shadow:5em 8em 0.0ch rgb(8,52,232);
  }
  .moon {
    max-width: 15px;
    height: 15px;
    box-shadow: 10px 5em 0.0ch rgb(232,111,8);

  }
  .sun {
    width: 40px;
    height: 40px;
  }
}